
.new-tweet {
  justify-content: center;
  background-color: #bcc5c58a;
  border-radius: 10px;
  border: 1px;
  border-style: double;
  border-color: #244751;
  padding: 2px;
  height: auto;
}

.new-tweet h2 {
  margin: 5px;
  padding-left: 5px;
 border-bottom-style: solid;




}

section form {

  display:flex;
  flex-direction: column;
  padding: 5px;
}

textarea {
  width: 100%;
  height: 65px;
  padding: 3px;
  flex-direction: column;
}

.button-counter {

    display: flex;
    justify-content: space-between;
    margin-top: 5px;

}

form input {
  height:35px;
}

.counter {
  font-size: small;
}

div.error-message{

display:none;
background-color:red;
color: white;

}


#tweet-container {

  /*background-color: aliceblue;*/
/*  padding : 5px ;
  margin: auto;
  margin-top: 10px;
  border: 1px solid grey;
  border-radius: 10px;*/
}

.tweet:hover{
  opacity:1;
  transition: all 0.15s ease 0.15s;
   /* & .icons {
      display: flex;
    }*/
  /*  .icons{
    visibility: visible;
  }*/
}



.tweet {
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    /*border-style: solid;*/
    margin-top: 10px;
    margin-bottom: 10px;
    height: 250px;
   /* border-radius: 10px;*/
  }


header.tweet-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    background-color: #00a087b8;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-left: solid 1px darkgray;
    border-right: solid 1px darkgrey;
    border-top: solid 1px darkgray;
}

.leftside {
  display: flex;
  flex-direction: row

}
.avatar {
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:10px;

}

.tweet-header h2{
  align-self: center;
  padding-right: 30px;

}

.handle {
  display: flex;
  align-self: center;
  /*margin-left: 200px;*/
  padding-right: 10px;
  flex-direction: row-reverse;
  /*margin-right: auto;*/
  justify-content: flex-end;
}


.tweet-body {
  display: flex;
  height: 50%;
  background-color: white;
  padding: 15px;
  align-content: center;
  border-left: solid 1px darkgray;
  border-right: solid 1px darkgrey;
 /* justify-content: center;*/
 /*margin: ;*/
}


.tweet-foot {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #00a08738;
    padding-left: 5px;
    padding-right: 5px;
    height: 17%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: solid 1px lightgrey;
    border-left: solid 1px darkgray;
  border-right: solid 1px darkgrey;
  border-bottom: solid 1px darkgrey;
}


.tweet-foot .icons{

  visibility: hidden;

  /*visibility: hidden;*/
  /*justify-content:space-around;*/
 /* height: 3px;*/
  /*width:auto;
*/
}

.tweet:hover .tweet-foot .icons{
  visibility: visible;
}

/*.icons:hover{
  display: flex;
  justify-content: space-between;
}*/


/*.
 <footer class="tweet-foot">
      <h5 class="post-date">${tweet.created_at}</h5>
      <div class="icons">
        <i class="far fa-flag"></i>
        <i class="fas fa-retweet"></i>
        <i class="far fa-heart"></i>
      <div>
    </footer>*/

/* <section id="tweet-container">
      <article class="tweet">

        <header class="tweet-header">
          <img class="avatar">
          <h3> My name </h3>
          <h4 class=handle> myHandle </h4>
        </header>

        <spa class="tweet-body"> <p> trying to make this work and praying that css is nice </p></span>

        <footer class="tweet-foot">
          <h5 class="post-date"> 10 days ago </h5>
        </footer>

      </article>
*/